:root {
    --specialFont: "ComforterBrush", cursive;
    --regularFont: "Gilroy-Regular", sans-serif;
    --boldFont: "Gilroy-Bold", sans-serif;
    --ExtraBoldFont: 'Gilroy-Bold-extra', sans-serif;
    --lightFont: "Gilroy-Light", sans-serif;
    --titlelight: #fff;
    --titledark: #000;
    --activeColor: #77C8D0;
    --beforeTitleColor: #6C6C6C;
    --navColor: #6C6C6C;
    --lightStaticColor: #5A31F5;
    --bgColor: #212121;
    --cardTitleColor: #77C8D0;
    --cardBgColor: linear-gradient(137.12deg, rgba(90, 49, 245, 0.05) -60.55%, rgba(119, 200, 208, 0.05) 98.08%);
    --cardParamColor: #373737;
    --formBorderColor: linear-gradient(137.94deg, #5A31F5 2.31%, #77C8D0 97.69%);
}