@import url(./reset/reset.css) all;
@import url(./fonts/fonts.css) all;
@import url(./constants/constants.css) all;
@import url(./sections/header.css) all;
@import url(./sections/main.css) all;

.container {
    width: 95%;
    margin: 0 auto;
}

.logo {
    width: 107px;
    height: 28px;
}

.btn {
    width: 223px;
    text-align: center;
    padding: 13px 20px;
    box-sizing: border-box;
    border: 1px solid #77C8D0;
    border-radius: 20.5px;
    font-family: var(--boldFont);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    text-transform: uppercase;
}