@import url(./reset/reset.css) all;
@import url(./fonts/fonts.css) all;
@import url(./constants/constants.css) all;
@import url(./sections/header.css) all;
@import url(./sections/main.css) all;
@import url(./sections/manual.css) all;
@import url(./sections/audio.css) all;
@import url(./sections/use.css) all;


.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 107px;
    height: 28px;
}

.btn {
    width: 223px;
    text-align: center;
    padding: 13px 20px;
    box-sizing: border-box;
    border: 1px solid #77C8D0;
    border-radius: 20.5px;
    font-family: var(--boldFont);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

.hint {
    font-family: var(--boldFont);
    color: var(--cardParamColor);
    font-size: 24px;
    line-height: 29px;
    text-transform: lowercase;
    margin-bottom: 80px;
}

.hint span {
    color: var(--lightStaticColor);
    font-size: 40px;
}