.audio {
    background: var(--bgColor);
    padding: 100px 0;
}

.audio small {
    font-family: var(--boldFont);
    color: var(--beforeTitleColor);
    font-size: 16px;
    line-height: 19px;
}

.audio h2 {
    font-family: var(--boldFont);
    color: var(--titlelight);
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 30px;
}

.audio audio {
    width: 100%;
    height: 38px;
}

.audio audio::-webkit-media-controls-enclosure {
    background-color: grey;
}

/* mobile small */

@media(max-width: 320px) {
    .audio h2 {
        font-size: 27px;
    }
}