.benefits {
    background: var(--bgColor);
    padding: 100px 0;
}

.benefits .benefits_list {
    position: relative;
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
}

.benefits .benefits_list div {
    position: relative;
    width: 235px;
    height: 235px;
    z-index: 2;
}

.benefits .benefits_list div::before {
    background: var(--cardTitleColor);
    color: var(--titlelight);
}

.benefits .benefits_list div::after {
    background: var(--bgColor);
    color: var(--titlelight);
}

.benefits .benefits_list div p {
    position: relative;
    z-index: 2;
    width: 90%;

}

/* text */
.benefits .benefits_list div:nth-child(1):before {
    content: 'ДОБРА ПАМ’ЯТЬ';
}

.benefits .benefits_list div:nth-child(2):before {
    content: 'ГЕТЬ ШАБЛОННІСТЬ';
}

.benefits .benefits_list div:nth-child(3):before {
    content: 'ВСЕ СХОПЛЕНО';
}

.benefits .benefits_list div:nth-child(4):before {
    content: 'РОЗУМНА СИСТЕМА';
}

.benefits .benefits_list div:nth-child(5):before {
    content: 'ВИНОСЛИВА РОБОЧА КОНЯЧКА';
}

.benefits .benefits_list div:nth-child(6):before {
    content: 'СВОБОДА ПОЛЬОТУ';
}

.benefits .benefits_list div:nth-child(1):after {
    content: 'пам’ятає все, що було \A сказано у розмові та \A будує свої відповіді \A виходячи з отриманих \A даних';
}

.benefits .benefits_list div:nth-child(2):after {
    content: 'веде нелінійний діалог, \A відповідаючи на \A запитання клієнтів';
}

.benefits .benefits_list div:nth-child(3):after {
    content: 'фіксує всю інформацію, \A отриману від клієнта';
}

.benefits .benefits_list div:nth-child(4):after {
    content: 'навчається при кожному \A дзвінку, з кожним разом \A стає ще розумнішим';
}

.benefits .benefits_list div:nth-child(5):after {
    content: 'може повністю взяти на \A себе вхідні та вихідні \A дзвінки';
}

.benefits .benefits_list div:nth-child(6):after {
    content: 'приймає та здійснює \A необмежену кількість \A дзвінків';
}