.benefits {
    background: var(--bgColor);
    padding: 100px 0;
}

.benefits .benefits_list {
    position: relative;
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
}

.benefits .benefits_list div {
    position: relative;
    width: 235px;
    height: 235px;
    z-index: 2;
}

.benefits .benefits_list div::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: var(--cardTitleColor);
    border: 1px solid var(--cardTitleColor);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    font-family: var(--boldFont);
    font-size: 24px;
    line-height: 29px;
    color: var(--titlelight);
}

.benefits .benefits_list div::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 20px;
    left: 20px;
    background: var(--bgColor);
    border: 1px solid var(--cardTitleColor);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    font-family: var(--regularFont);
    font-size: 16px;
    line-height: 18px;
    text-transform: lowercase;
    color: var(--titlelight);
}

.benefits .benefits_list div:hover::after {
    transition: 0.5s all;
    z-index: 5;
}

.benefits .benefits_list div p {
    position: relative;
    z-index: 2;
    width: 90%;

}

/* text */
.benefits .benefits_list div:nth-child(1):before {
    content: 'ДОБРА ПАМ’ЯТЬ';
}

.benefits .benefits_list div:nth-child(2):before {
    content: 'ГЕТЬ ШАБЛОННІСТЬ';
}

.benefits .benefits_list div:nth-child(3):before {
    content: 'ВСЕ СХОПЛЕНО';
}

.benefits .benefits_list div:nth-child(4):before {
    content: 'РОЗУМНА СИСТЕМА';
}

.benefits .benefits_list div:nth-child(5):before {
    content: 'ВИНОСЛИВА РОБОЧА КОНЯЧКА';
}

.benefits .benefits_list div:nth-child(6):before {
    content: 'СВОБОДА ПОЛЬОТУ';
}

.benefits .benefits_list div:nth-child(1):after {
    content: 'пам’ятає все, що було \A сказано у розмові та \A будує свої відповіді \A виходячи з отриманих \A даних';
}

.benefits .benefits_list div:nth-child(2):after {
    content: 'веде нелінійний діалог, \A відповідаючи на \A запитання клієнтів';
}

.benefits .benefits_list div:nth-child(3):after {
    content: 'фіксує всю інформацію, \A отриману від клієнта';
}

.benefits .benefits_list div:nth-child(4):after {
    content: 'навчається при кожному \A дзвінку, з кожним разом \A стає ще розумнішим';
}

.benefits .benefits_list div:nth-child(5):after {
    content: 'може повністю взяти на \A себе вхідні та вихідні \A дзвінки';
}

.benefits .benefits_list div:nth-child(6):after {
    content: 'приймає та здійснює \A необмежену кількість \A дзвінків';
}