@font-face {
    font-family: "ComforterBrush";
    src: url(./ComforterBrush/ComforterBrush-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url(./gilroy/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Gilroy-Light";
    src: url(./gilroy/Gilroy-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url(./gilroy/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Gilroy-Bold-extra";
    src: url(./gilroy/Gilroy-ExtraBold.ttf) format("truetype");
}